body {
  margin: 0;
  padding: 0;
  background-color: white;
}

a:link {
  text-decoration: none !important;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*-----------------header---------------------*/
header {
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 99;
}

/*------------------home-----------------------*/
.home {
  background-image: url("../../assets/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.cover {
  width: 100%;
  min-height: 100vh;
  background: rgba(242, 203, 87, 0.9);

  color: white;
}
.social-media-text {
  color: black;
}
.cover-row {
  padding-top: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  font-size: 6vh;
  color: #8d9ca6;
}
.subtitle {
  color: white;
  max-width: 600px;
}
.arrow-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    opacity: 100%;
    bottom: 0px;
  }
  50% {
    opacity: 30%;
    bottom: 7px;
  }
  100% {
    opacity: 100%;
    bottom: 0px;
  }
}
arrow-icon1 {
}
.icon-social-media {
  color: #8d9ca6;
}
.icon-social-media:hover {
  color: black;
}

/*------------------------portfolio----------------*/
.portfolio {
  margin-top: 90px;
}
.section {
  margin-top: 50px;
}
.section-certif {
  margin-top: 50px;
}
.section-title {
  font-weight: bold;
}
.sub-section {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item {
  width: 48%;
  margin: 5px;
  margin-bottom: 200px;

  transition: text-shadow 2s ease-in;
}
.item-header:hover {
  box-shadow: 5px 5px 5px rgb(196, 196, 194);
  text-shadow: 0px 0px 4px #e5dd73;
  background-color: rgba(249, 249, 245, 0.6);
}
.item img {
  width: 100%;
  height: 100%;
}

.item-header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 0.2px #c4c7c7;
  padding: 10px;

  transition: 0.5s ease-in;
}

.item-title {
  color: #353d3d;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
}

.item-subtitle {
  list-style: none;
  margin: 0px;

  padding: 0px;
  font-size: 12px;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  transition: 0.3s;
}
.item-button {
  position: absolute;
  color: white;
  background-color: #d98f07;
  padding: 15px;
  padding-left: 20px;
  bottom: 30px;
  opacity: 0;
  transition: 0.3s;
}

.item-header:hover .item-subtitle {
  opacity: 1;
}
.item-header:hover .item-button {
  opacity: 1;
}
.portfolio-modal .ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.item-subtitle-li {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0px;
  padding-bottom: 3px;
  border-radius: 7px;
  margin-bottom: 2%;
  float: left;
  color: white;
  margin-left: 10px;
  background-color: cornflowerblue;
}
.item-subtitle-li:first-child {
  margin-left: 0px;
}
.modal-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.modal-col1 {
  maxwidth: "500px";
}
.modal-col2 {
}

.portfolio-modal img {
  width: 100%;
}
.modal-col2 .a {
  color: white;
}
.modal-button {
  width: 100%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;

  color: white;
  font-weight: bold;
  background-color: #d98f07;
}
.modal-title {
  font-size: 26px;
  color: gray;
}
.modal-subtitle {
  padding: 0;
}
.modal-description {
  font-size: 16px;
  margin-top: 50px;
}

/*--------------------------About--------------------*/
.about {
  margin-top: 90px;
}
.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-col {
  max-width: 600px;
}
.profile-col img {
  float: left;
  margin: 10px;
}

.about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.about-list-item {
  margin-right: 10px;
}
.icon-language {
  display: flex;
}
.photo-profile {
  border-radius: 70px;
}

/*--------------------------footer------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d98f07;
}
footer form input[type="text"],
input[type="email"],
#message {
  background-color: #f2cb57;
}

.copy_right {
  text-align: center;
  color: white;
}

/*---------------------------mobile style-----------------*/

@media only screen and (max-width: 1170px) {
  .item {
    width: 80%;
  }
  .item-title {
    font-size: 29px;
  }
  .modal-title {
    font-size: 18px;
  }
  .item-subtitle-li {
    font-size: 12px;
  }
  .modal-description {
    font-size: 15px;
  }
  .item-subtitle {
    font-size: 12px;
  }

  .skills-col {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
  .item-title {
    font-size: 23px;
  }

  .item-subtitle {
    font-size: 9px;
  }
  .skills-col {
    margin-top: 40px;
  }
  .modal-title {
    font-size: 18px;
  }
  .item-subtitle-li {
    font-size: 13px;
  }
  .modal-description {
    font-size: 13px;
  }
  .item-header:hover .item-subtitle {
    opacity: 0;
  }
  .item-header:hover .item-button {
    opacity: 0;
  }
}
